<?php
/* @var $this Layout */
?>
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Справочник сотрудников</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ibc.css">
    <link rel="stylesheet" href="/css/staff.css">

  </head>

  <body>

    <div id="global-menu">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/staff/">Справочник сотрудников</a></li>
      </ul>
    </div>

    <div id="local-menu" class="shadow-frame">
      <?= $this->LocalMenu ?>
    </div>

    <div id="content" class="shadow-frame">
      <?= $this->getContent() ?>
    </div>


    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>