
form .field {
  height: 50px;
  width: 100%;
}

form .field > .label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding: 0px 10px 0px 0px;
}

form .field > .input {
  display: inline-block;
}

form .field > .error {
  width: 100%;
  display: inline-block;
  color: #F00;
}

form .field > .error ul {
  padding: 0px 0px 0px 163px;
}




form .actions {
  text-align: right;
  margin-right: 15px; 
}