<?php
/** страница история изменений данных сотрудников */
/* @var $this View */
/* @var $model TestTask\Models\Staff *
  /* @var $changes Array */

$model = $this->model;
$changes = $this->changes;

$title = [
    'create' => 'Добавлен новый сотрудник #{id} «{full_name_new}»:',
    'update' => 'Изменения по сотруднику #{id} «{full_name_old}»:',
    'safe_delete' => ' Сотрудник #{id} «{full_name}» был удалён',
];

$insertValue = function($str, $log) {
  if (!is_null($log->diffs) && isset($log->diffs->full_name)) {
    if (is_array($log->diffs->full_name)) {
      $full_name_old = $log->diffs->full_name[0];
      $full_name_new = $log->diffs->full_name[1];
    } else {
      $full_name_old = '';
      $full_name_new = $log->diffs->full_name;
    }
  } else {
    $full_name_new = $full_name_old = $log->full_name;
  }

  $result = strtr($str, [
      '{id}' => $log->record_id,
      '{full_name}' => $log->full_name,
      '{full_name_new}' => $full_name_new,
      '{full_name_old}' => $full_name_old,
  ]);
  return $result;
};
?>

<? foreach ($changes as $log): ?>
  <?php $log->diffs = json_decode($log->diffs); ?>


  <? /** когда и что */ ?>
  <div class="paragraph">
    <p><b><?= \Helpers\FormatHelper::date($log->dt) ?></b>:
      <?= $insertValue($title[$log->type], $log) ?></p>
  </div>

  <? /** список измененых полей если есть */ ?> 
  <? if (!is_null($log->diffs)): ?>
    <div class="ulist">
      <ul>
        <? foreach ($log->diffs as $diff => $value): ?>
          <li>
            <p>
              <?= $model->getAttributeLabel($diff); ?>: 

              <? if (is_array($value)): ?>
                Старое значение <b>«<?= $value[0] ?>»</b>. Новое значение <b>«<?= $value[1] ?>»</b>
              <? else: ?>
                <b><?= $value ?></b>
              <? endif; ?>
            </p>
          </li>
        <? endforeach; ?>
    </div>
    </ul>
  <? endif; ?>

  <hr>

<? endforeach; ?>