<?php
/** форма добавления/изменения сотрудника */
/* @var $this View */
/* @var $model TestTask\Models\Staff */

$model = $this->model;

$form = new Helpers\FormHelper([
    'model' => $model,
    'modelName' => 'Staff',
    'name_value' => '',
    'template' => [
        'error' => '<div class="error"><ul><li>{content}</li></ul></div>',
    ]
        ]);
?>

<h1> <?= ($model->isNewRecord()) ? 'Добавить нового' : 'Карточка' ?> сотрудника</h1>

<form action="/staff/<?= ($model->isNewRecord()) ? 'add' : 'edit/id/' . $model->id ?>" method="post">

  <? /* Ф.И.О. сотрудника */ ?>
  <div class="field">
    <div class="label required"> Ф.И.О. сотрудника </div>
    <div class="input"><input type="text" <?= $form->inputNameValue('full_name') ?> /></div>
    <?= $form->error('full_name') ?>
  </div>  

  <? /* Должность  */ ?>
  <div class="field">
    <div class="label required">Должность</div>
    <div class="input"><input type="text" <?= $form->inputNameValue('position') ?> /></div>
    <?= $form->error('position') ?>
  </div>

  <? /* Пол */ ?>
  <div class="field">
    <div class="label">Пол</div>
    <div class="input">
      <select name="Staff[sex]">
        <option value=""> Не указан </option>
        <option value="M" <?= $model->sex == 'M' ? 'selected' : '' ?>> мужчина </option>
        <option value="F" <?= $model->sex == 'F' ? 'selected' : '' ?>> женщина </option>
      </select>
    </div>
    <?= $form->error('sex') ?>
  </div>

  <? /* Дата рождения  */ ?>
  <div class="field">
    <div class="label">Дата рождения</div>
    <div class="input"><input type="text" class="js-datapicker" <?= $form->inputNameValue('birthday') ?> /></div>
    <?= $form->error('birthday') ?>
  </div>

  <? /* Паспорт  */ ?>
  <div class="field">
    <div class="label">Паспорт</div>
    <div class="input">
      <input type="text" class="js-maskedinput" mask="9999 999999" <?= $form->inputNameValue('passport') ?> />
    </div>
    <?= $form->error('passport') ?>
  </div>

  <? /* Телефон  */ ?>
  <div class="field">
    <div class="label">Телефон</div>
    <div class="input"> 
      <b>+7</b> 
      <input type="text" class="js-maskedinput" mask="(999) 99-99-999" <?= $form->inputNameValue('phone') ?> />
    </div>
    <?= $form->error('phone') ?>
  </div>

  <? /* email  */ ?>
  <div class="field">
    <div class="label">email</div>
    <div class="input"> <input type="text" <?= $form->inputNameValue('email') ?> /></div>
    <?= $form->error('email') ?>
  </div>  

  <? /* Кнопки  */ ?>
  <div class="actions">
    <button type="submit">
      <?= ($model->isNewRecord()) ? 'добавить' : 'изменить' ?>
    </button>

    <? if (!$model->isNewRecord()): ?>
      <br><br>

      <i class="fa fa-trash"></i> <a href="/staff/delete/id/<?= $model->id ?>">удалить</a>
    <? endif; ?>
  </div>


</form>
