<?php
/** главная страница раздела сотрудники */
/* @var $this View */
?>

<table style="width:100%">

  <tr style="text-align: left;">
    <th> должность </th>
    <th> сотрудник</th>
    <th> контактная информация </th>
  </tr>

  <? foreach ($this->staff_list as $person): ?>
    <tr style="height: 80px; ba">
      <td> <?= $person->position ?> </td>
      <td> 
        <i class="fa fa-<?= $person->sex == 'F' ? 'female' : 'male' ?>"></i>
        <a href="/staff/edit/id/<?= $person->id ?>"> 
          <?= $person->full_name ?>
        </a>
      </td>
      <td>
        <i class="fa fa-phone"></i> <?= \Helpers\FormatHelper::phone($person->phone); ?> 
        <br> <br>
        <i class="fa fa-at"></i>  <?= $person->email ?>
      </td>
    </tr>
  <? endforeach; ?>

</table>

